name: Generate and publish kaspi.xml

on:
  schedule:
    # every hour
    - cron: '25,55 * * * *'
  workflow_dispatch: {}

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate kaspi.xml
        env:
          MS_LOGIN: ${{ secrets.MS_LOGIN }}
          MS_PASSWORD: ${{ secrets.MS_PASSWORD }}
          ATTRIBUTE_ID: ${{ secrets.ATTRIBUTE_ID }}
          STOCK_EXTERNAL_CODE: ${{ secrets.STOCK_EXTERNAL_CODE }}
          PRICE_ATTRIBUTE_ID: ${{ secrets.PRICE_ATTRIBUTE_ID }}
          COMPANY: ${{ secrets.COMPANY }}
          MERCHANT_ID: ${{ secrets.MERCHANT_ID }}
          XML_FILE: ${{ secrets.XML_FILE }}
        run: |
          python cloud_run.py

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs'

  deploy:
    needs: generate
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
